<!-- <p>product-list works!</p> -->

  <h2>Product List</h2>

  <table class="table"  >
    <thead>
    <tr style="background-color: antiquewhite;">
      <th scope="col">#</th>
      <th scope="col">Product Name</th>
      <th scope="col">Product Description</th>
      <th scope="col">Product Price</th>
    </tr>
    </thead>
    <tbody>
 
          <tr *ngFor="let item of product; index as productId " [routerLink]="['/product', productId]" [title]="item.name" >
            <th scope="row"><img src ="{{item.image}}" style="width: 100px; height: 100px; background: transparent;"></th>
            <td >{{item.name}}</td>
            <td >{{item.description }}</td>
            <td>{{item.price | currency}}</td> 
          </tr>
       
    
    </tbody>
  </table>


